# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml
.kotlin/

# Xcode
iosApp/*.xcodeproj
iosApp/Info.plist
iosApp/build/
DerivedData/
xcuserdata/
*.xcresult

# OS
.DS_Store
